<br>
<h5><%=email.object%></h5><br>
<p><%=email.body%></p>
<a class="text-danger" href="<%=email_path(email.id)%>" data-confirm= 'Are you sure ?' data-method="DELETE", data-remote="true">delete</a>
<br><br>
